alembic==1.13.1
asgiref==3.8.1
bcrypt==4.2.0
blinker==1.8.2
blueprint==3.4.2
certifi==2024.6.2
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.3.2
django-cors-headers==4.3.1
cryptography==43.0.1
cycler==0.12.1
Django==4.2.7
django-filter==23.3
django-rosetta==0.9.9
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
Flask==3.0.3
Flask-Cors==5.0.0
Flask-JWT-Extended==4.6.0
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
fonttools==4.58.4
idna==3.7
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
PyJWT==2.9.0
kiwisolver==1.4.8
Mako==1.3.5
MarkupSafe==2.1.5
marshmallow==3.22.0
marshmallow-sqlalchemy==1.1.0
matplotlib==3.10.3
mysql-connector-python==9.0.0
numpy==2.3.1
packaging==24.1
Pillow==10.1.0
polib==1.2.0
pycparser==2.22
PyJWT==2.9.0
PyMySQL==1.1.1
pyparsing==3.2.3
PySimpleGUI==5.0.8.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
PyYAML==6.0.3
reportlab==4.4.4
requests==2.32.3
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.31
sqlparse==0.5.3
typing_extensions==4.12.2
uritemplate==4.2.0
urllib3==2.2.2
Werkzeug==3.0.3

